
<header>
  <div class="logo"></div>
  <nav>
    <ul>
      <li class="nav-items">HOME</li>
      <li class="nav-items">ABOUT</li>
      <li class="nav-items">PORTFOLIO</li>
      <li class="nav-items">BLOG</li>
      <li class="nav-items">CONTACT</li>
    </ul>
  </nav>
  <h1>Magic is something you create.</h1>
</header>
<section class="container home-images">
  <div class="row">
    <div class="item1"></div>
    <div class="item2"></div>
  </div>
  <div class="row">
    <div class="item3"></div>
    <div class="item4"></div>
    <div class="item5">
      <div class="item6"></div>
      <div class="item7"></div>
      <div class="item8"></div>
      <div class="item9"></div>
    </div>
  </div>
</section>
<footer>
  <div class="logo"></div>
  <nav>
    <ul>
      <li class="nav-items">HOME</li>
      <li class="nav-items">ABOUT</li>
      <li class="nav-items">PORTFOLIO</li>
      <li class="nav-items">BLOG</li>
      <li class="nav-items">CONTACT</li>
    </ul>
  </nav>
</footer>
